Service References/Service_Oferta/OfertaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crear_oferta" type="tns:Crear_oferta" />
  <xs:element name="Crear_ofertaResponse" type="tns:Crear_ofertaResponse" />
  <xs:element name="Eliminar_oferta" type="tns:Eliminar_oferta" />
  <xs:element name="Eliminar_ofertaResponse" type="tns:Eliminar_ofertaResponse" />
  <xs:element name="Listado_oferta" type="tns:Listado_oferta" />
  <xs:element name="Listado_ofertaResponse" type="tns:Listado_ofertaResponse" />
  <xs:element name="Modificar_oferta" type="tns:Modificar_oferta" />
  <xs:element name="Modificar_ofertaResponse" type="tns:Modificar_ofertaResponse" />
  <xs:element name="dejar_de_publicar_oferta" type="tns:dejar_de_publicar_oferta" />
  <xs:element name="dejar_de_publicar_ofertaResponse" type="tns:dejar_de_publicar_ofertaResponse" />
  <xs:element name="estado" type="tns:estado" />
  <xs:element name="oferta" type="tns:oferta" />
  <xs:element name="publicar_oferta" type="tns:publicar_oferta" />
  <xs:element name="publicar_ofertaResponse" type="tns:publicar_ofertaResponse" />
  <xs:complexType name="Modificar_oferta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="precio_oferta" type="xs:int" />
      <xs:element name="min_compras" type="xs:int" />
      <xs:element name="max_compras" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_actulizacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_ofertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_oferta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_ofertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listado_oferta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_ofertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="idOferta" type="xs:decimal" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="maximoCompra" type="xs:integer" />
      <xs:element minOccurs="0" name="minimoCompra" type="xs:integer" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroVisitas" type="xs:integer" />
      <xs:element minOccurs="0" name="precioNormal" type="xs:integer" />
      <xs:element minOccurs="0" name="precioOferta" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dejar_de_publicar_oferta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dejar_de_publicar_ofertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_oferta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="precio_normal" type="xs:int" />
      <xs:element name="precio_oferta" type="xs:int" />
      <xs:element name="numero_visitas" type="xs:int" />
      <xs:element name="min_compras" type="xs:int" />
      <xs:element name="max_compras" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_actulizacion" type="xs:dateTime" />
      <xs:element name="estado_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_ofertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicar_oferta">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicar_ofertaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>