Service References/Service_Oferta/OfertaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OfertaService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:17225/MisOfertasWebService/OfertaService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Eliminar_oferta">
    <part name="parameters" element="tns:Eliminar_oferta" />
  </message>
  <message name="Eliminar_ofertaResponse">
    <part name="parameters" element="tns:Eliminar_ofertaResponse" />
  </message>
  <message name="Crear_oferta">
    <part name="parameters" element="tns:Crear_oferta" />
  </message>
  <message name="Crear_ofertaResponse">
    <part name="parameters" element="tns:Crear_ofertaResponse" />
  </message>
  <message name="Listado_oferta">
    <part name="parameters" element="tns:Listado_oferta" />
  </message>
  <message name="Listado_ofertaResponse">
    <part name="parameters" element="tns:Listado_ofertaResponse" />
  </message>
  <message name="Modificar_oferta">
    <part name="parameters" element="tns:Modificar_oferta" />
  </message>
  <message name="Modificar_ofertaResponse">
    <part name="parameters" element="tns:Modificar_ofertaResponse" />
  </message>
  <portType name="OfertaService">
    <operation name="Eliminar_oferta">
      <input wsam:Action="http://Servicios/OfertaService/Eliminar_ofertaRequest" message="tns:Eliminar_oferta" />
      <output wsam:Action="http://Servicios/OfertaService/Eliminar_ofertaResponse" message="tns:Eliminar_ofertaResponse" />
    </operation>
    <operation name="Crear_oferta">
      <input wsam:Action="http://Servicios/OfertaService/Crear_ofertaRequest" message="tns:Crear_oferta" />
      <output wsam:Action="http://Servicios/OfertaService/Crear_ofertaResponse" message="tns:Crear_ofertaResponse" />
    </operation>
    <operation name="Listado_oferta">
      <input wsam:Action="http://Servicios/OfertaService/Listado_ofertaRequest" message="tns:Listado_oferta" />
      <output wsam:Action="http://Servicios/OfertaService/Listado_ofertaResponse" message="tns:Listado_ofertaResponse" />
    </operation>
    <operation name="Modificar_oferta">
      <input wsam:Action="http://Servicios/OfertaService/Modificar_ofertaRequest" message="tns:Modificar_oferta" />
      <output wsam:Action="http://Servicios/OfertaService/Modificar_ofertaResponse" message="tns:Modificar_ofertaResponse" />
    </operation>
  </portType>
  <binding name="OfertaServicePortBinding" type="tns:OfertaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Eliminar_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Modificar_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OfertaService">
    <port name="OfertaServicePort" binding="tns:OfertaServicePortBinding">
      <soap:address location="http://localhost:17225/MisOfertasWebService/OfertaService" />
    </port>
  </service>
</definitions>