Service References/Service_Cargo/CargoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Listado_cargos" type="tns:Listado_cargos" />
  <xs:element name="Listado_cargosResponse" type="tns:Listado_cargosResponse" />
  <xs:element name="cargo" type="tns:cargo" />
  <xs:complexType name="Listado_cargos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_cargosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:cargo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idcargo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>