Service References/Service_Descuento/DescuentoService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DescuentoService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.15.226.82:17225/MisOfertasWebService/DescuentoService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Listado_descuento">
    <part name="parameters" element="tns:Listado_descuento" />
  </message>
  <message name="Listado_descuentoResponse">
    <part name="parameters" element="tns:Listado_descuentoResponse" />
  </message>
  <message name="Crear_descuento">
    <part name="parameters" element="tns:Crear_descuento" />
  </message>
  <message name="Crear_descuentoResponse">
    <part name="parameters" element="tns:Crear_descuentoResponse" />
  </message>
  <message name="Eliminar_descuento">
    <part name="parameters" element="tns:Eliminar_descuento" />
  </message>
  <message name="Eliminar_descuentoResponse">
    <part name="parameters" element="tns:Eliminar_descuentoResponse" />
  </message>
  <message name="Modificar_descuento">
    <part name="parameters" element="tns:Modificar_descuento" />
  </message>
  <message name="Modificar_descuentoResponse">
    <part name="parameters" element="tns:Modificar_descuentoResponse" />
  </message>
  <portType name="DescuentoService">
    <operation name="Listado_descuento">
      <input wsam:Action="http://Servicios/DescuentoService/Listado_descuentoRequest" message="tns:Listado_descuento" />
      <output wsam:Action="http://Servicios/DescuentoService/Listado_descuentoResponse" message="tns:Listado_descuentoResponse" />
    </operation>
    <operation name="Crear_descuento">
      <input wsam:Action="http://Servicios/DescuentoService/Crear_descuentoRequest" message="tns:Crear_descuento" />
      <output wsam:Action="http://Servicios/DescuentoService/Crear_descuentoResponse" message="tns:Crear_descuentoResponse" />
    </operation>
    <operation name="Eliminar_descuento">
      <input wsam:Action="http://Servicios/DescuentoService/Eliminar_descuentoRequest" message="tns:Eliminar_descuento" />
      <output wsam:Action="http://Servicios/DescuentoService/Eliminar_descuentoResponse" message="tns:Eliminar_descuentoResponse" />
    </operation>
    <operation name="Modificar_descuento">
      <input wsam:Action="http://Servicios/DescuentoService/Modificar_descuentoRequest" message="tns:Modificar_descuento" />
      <output wsam:Action="http://Servicios/DescuentoService/Modificar_descuentoResponse" message="tns:Modificar_descuentoResponse" />
    </operation>
  </portType>
  <binding name="DescuentoServicePortBinding" type="tns:DescuentoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Listado_descuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_descuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_descuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Modificar_descuento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DescuentoService">
    <port name="DescuentoServicePort" binding="tns:DescuentoServicePortBinding">
      <soap:address location="http://10.15.226.82:17225/MisOfertasWebService/DescuentoService" />
    </port>
  </service>
</definitions>