Service References/Service_Local/LocalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crear_local" type="tns:Crear_local" />
  <xs:element name="Crear_localResponse" type="tns:Crear_localResponse" />
  <xs:element name="Eliminar_local" type="tns:Eliminar_local" />
  <xs:element name="Eliminar_localResponse" type="tns:Eliminar_localResponse" />
  <xs:element name="Listado_local" type="tns:Listado_local" />
  <xs:element name="Listado_localResponse" type="tns:Listado_localResponse" />
  <xs:element name="Modificar_local" type="tns:Modificar_local" />
  <xs:element name="Modificar_localResponse" type="tns:Modificar_localResponse" />
  <xs:element name="ciudad" type="tns:ciudad" />
  <xs:element name="empresa" type="tns:empresa" />
  <xs:element name="estado" type="tns:estado" />
  <xs:element name="local" type="tns:local" />
  <xs:element name="region" type="tns:region" />
  <xs:complexType name="Modificar_local">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="id_empresa" type="xs:int" />
      <xs:element name="id_ciudad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listado_local">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:local" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudadIdCiudad" type="tns:ciudad" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="empresaIdEmpresa" type="tns:empresa" />
      <xs:element minOccurs="0" name="idLocal" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idCiudad" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="regionIdRegion" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRegion" type="xs:long" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:decimal" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_local">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_local">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="id_empresa" type="xs:int" />
      <xs:element name="id_ciudad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>