Service References/Service_OfertaLocal/OfertaLocalService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crear_oferta_local" type="tns:Crear_oferta_local" />
  <xs:element name="Crear_oferta_localResponse" type="tns:Crear_oferta_localResponse" />
  <xs:element name="Eliminar_oferta_local" type="tns:Eliminar_oferta_local" />
  <xs:element name="Eliminar_oferta_localResponse" type="tns:Eliminar_oferta_localResponse" />
  <xs:element name="Listado_oferta_local" type="tns:Listado_oferta_local" />
  <xs:element name="Listado_oferta_localResponse" type="tns:Listado_oferta_localResponse" />
  <xs:element name="ciudad" type="tns:ciudad" />
  <xs:element name="empresa" type="tns:empresa" />
  <xs:element name="estado" type="tns:estado" />
  <xs:element name="informativo" type="tns:informativo" />
  <xs:element name="local" type="tns:local" />
  <xs:element name="oferta" type="tns:oferta" />
  <xs:element name="ofertalocal" type="tns:ofertalocal" />
  <xs:element name="region" type="tns:region" />
  <xs:complexType name="Eliminar_oferta_local">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_oferta_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_oferta_local">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="oferta_id" type="xs:int" />
      <xs:element name="local_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_oferta_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listado_oferta_local">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_oferta_localResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ofertalocal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofertalocal">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="local" type="tns:local" />
      <xs:element minOccurs="0" name="oferta" type="tns:oferta" />
      <xs:element minOccurs="0" name="ofertalocalPK" type="tns:ofertalocalPK" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local">
    <xs:sequence>
      <xs:element minOccurs="0" name="ciudadIdCiudad" type="tns:ciudad" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="empresaIdEmpresa" type="tns:empresa" />
      <xs:element minOccurs="0" name="idLocal" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idCiudad" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="regionIdRegion" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRegion" type="xs:long" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:decimal" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="idOferta" type="xs:decimal" />
      <xs:element minOccurs="0" name="informativo" type="tns:informativo" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="maximoCompra" type="xs:integer" />
      <xs:element minOccurs="0" name="minimoCompra" type="xs:integer" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroVisitas" type="xs:integer" />
      <xs:element minOccurs="0" name="precioNormal" type="xs:integer" />
      <xs:element minOccurs="0" name="precioOferta" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="informativo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idInformativo" type="xs:decimal" />
      <xs:element minOccurs="0" name="ofertaIdOferta" type="tns:oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofertalocalPK">
    <xs:sequence>
      <xs:element minOccurs="0" name="idofertalocal" type="xs:integer" />
      <xs:element minOccurs="0" name="localIdLocal" type="xs:integer" />
      <xs:element minOccurs="0" name="ofertaIdOferta" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>