Service References/Service_OfertaLocal/OfertaLocalService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OfertaLocalService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.20.65.11:8080/MisOfertasWebService/OfertaLocalService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Eliminar_oferta_local">
    <part name="parameters" element="tns:Eliminar_oferta_local" />
  </message>
  <message name="Eliminar_oferta_localResponse">
    <part name="parameters" element="tns:Eliminar_oferta_localResponse" />
  </message>
  <message name="Listado_oferta_local">
    <part name="parameters" element="tns:Listado_oferta_local" />
  </message>
  <message name="Listado_oferta_localResponse">
    <part name="parameters" element="tns:Listado_oferta_localResponse" />
  </message>
  <message name="Crear_oferta_local">
    <part name="parameters" element="tns:Crear_oferta_local" />
  </message>
  <message name="Crear_oferta_localResponse">
    <part name="parameters" element="tns:Crear_oferta_localResponse" />
  </message>
  <portType name="OfertaLocalService">
    <operation name="Eliminar_oferta_local">
      <input wsam:Action="http://Servicios/OfertaLocalService/Eliminar_oferta_localRequest" message="tns:Eliminar_oferta_local" />
      <output wsam:Action="http://Servicios/OfertaLocalService/Eliminar_oferta_localResponse" message="tns:Eliminar_oferta_localResponse" />
    </operation>
    <operation name="Listado_oferta_local">
      <input wsam:Action="http://Servicios/OfertaLocalService/Listado_oferta_localRequest" message="tns:Listado_oferta_local" />
      <output wsam:Action="http://Servicios/OfertaLocalService/Listado_oferta_localResponse" message="tns:Listado_oferta_localResponse" />
    </operation>
    <operation name="Crear_oferta_local">
      <input wsam:Action="http://Servicios/OfertaLocalService/Crear_oferta_localRequest" message="tns:Crear_oferta_local" />
      <output wsam:Action="http://Servicios/OfertaLocalService/Crear_oferta_localResponse" message="tns:Crear_oferta_localResponse" />
    </operation>
  </portType>
  <binding name="OfertaLocalServicePortBinding" type="tns:OfertaLocalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Eliminar_oferta_local">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_oferta_local">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_oferta_local">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OfertaLocalService">
    <port name="OfertaLocalServicePort" binding="tns:OfertaLocalServicePortBinding">
      <soap:address location="http://10.20.65.11:8080/MisOfertasWebService/OfertaLocalService" />
    </port>
  </service>
</definitions>