Service References/Service_Valoracion/ValoracionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ValoracionService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/MisOfertasWebService/ValoracionService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Crear_valoracion">
    <part name="parameters" element="tns:Crear_valoracion" />
  </message>
  <message name="Crear_valoracionResponse">
    <part name="parameters" element="tns:Crear_valoracionResponse" />
  </message>
  <message name="Eliminar_valoracion">
    <part name="parameters" element="tns:Eliminar_valoracion" />
  </message>
  <message name="Eliminar_valoracionResponse">
    <part name="parameters" element="tns:Eliminar_valoracionResponse" />
  </message>
  <message name="Listado_valoraciones">
    <part name="parameters" element="tns:Listado_valoraciones" />
  </message>
  <message name="Listado_valoracionesResponse">
    <part name="parameters" element="tns:Listado_valoracionesResponse" />
  </message>
  <message name="Modificar_valoracion">
    <part name="parameters" element="tns:Modificar_valoracion" />
  </message>
  <message name="Modificar_valoracionResponse">
    <part name="parameters" element="tns:Modificar_valoracionResponse" />
  </message>
  <portType name="ValoracionService">
    <operation name="Crear_valoracion">
      <input wsam:Action="http://Servicios/ValoracionService/Crear_valoracionRequest" message="tns:Crear_valoracion" />
      <output wsam:Action="http://Servicios/ValoracionService/Crear_valoracionResponse" message="tns:Crear_valoracionResponse" />
    </operation>
    <operation name="Eliminar_valoracion">
      <input wsam:Action="http://Servicios/ValoracionService/Eliminar_valoracionRequest" message="tns:Eliminar_valoracion" />
      <output wsam:Action="http://Servicios/ValoracionService/Eliminar_valoracionResponse" message="tns:Eliminar_valoracionResponse" />
    </operation>
    <operation name="Listado_valoraciones">
      <input wsam:Action="http://Servicios/ValoracionService/Listado_valoracionesRequest" message="tns:Listado_valoraciones" />
      <output wsam:Action="http://Servicios/ValoracionService/Listado_valoracionesResponse" message="tns:Listado_valoracionesResponse" />
    </operation>
    <operation name="Modificar_valoracion">
      <input wsam:Action="http://Servicios/ValoracionService/Modificar_valoracionRequest" message="tns:Modificar_valoracion" />
      <output wsam:Action="http://Servicios/ValoracionService/Modificar_valoracionResponse" message="tns:Modificar_valoracionResponse" />
    </operation>
  </portType>
  <binding name="ValoracionServicePortBinding" type="tns:ValoracionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Crear_valoracion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_valoracion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_valoraciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Modificar_valoracion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ValoracionService">
    <port name="ValoracionServicePort" binding="tns:ValoracionServicePortBinding">
      <soap:address location="http://localhost:8080/MisOfertasWebService/ValoracionService" />
    </port>
  </service>
</definitions>