Service References/Service_Empresa/EmpresaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crear_empresa" type="tns:Crear_empresa" />
  <xs:element name="Crear_empresaResponse" type="tns:Crear_empresaResponse" />
  <xs:element name="Eliminar_empresa" type="tns:Eliminar_empresa" />
  <xs:element name="Eliminar_empresaResponse" type="tns:Eliminar_empresaResponse" />
  <xs:element name="Listado_empresa" type="tns:Listado_empresa" />
  <xs:element name="Listado_empresaResponse" type="tns:Listado_empresaResponse" />
  <xs:element name="Modificar_empresa" type="tns:Modificar_empresa" />
  <xs:element name="Modificar_empresaResponse" type="tns:Modificar_empresaResponse" />
  <xs:element name="empresa" type="tns:empresa" />
  <xs:element name="estado" type="tns:estado" />
  <xs:complexType name="Crear_empresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_actualizacion" type="xs:dateTime" />
      <xs:element name="id_estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_empresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listado_empresa">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_empresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empresa" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="idEmpresa" type="xs:decimal" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_empresa">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_empresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_empresa">
    <xs:sequence>
      <xs:element name="idd" type="xs:int" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_actualizacion" type="xs:dateTime" />
      <xs:element name="id_estado" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_empresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>