Service References/Service_Categoria/CategoriaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CategoriaService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.15.226.82:17225/MisOfertasWebService/CategoriaService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Modificar_categoria">
    <part name="parameters" element="tns:Modificar_categoria" />
  </message>
  <message name="Modificar_categoriaResponse">
    <part name="parameters" element="tns:Modificar_categoriaResponse" />
  </message>
  <message name="Eliminar_categoria">
    <part name="parameters" element="tns:Eliminar_categoria" />
  </message>
  <message name="Eliminar_categoriaResponse">
    <part name="parameters" element="tns:Eliminar_categoriaResponse" />
  </message>
  <message name="Crear_categoria">
    <part name="parameters" element="tns:Crear_categoria" />
  </message>
  <message name="Crear_categoriaResponse">
    <part name="parameters" element="tns:Crear_categoriaResponse" />
  </message>
  <message name="Listado_categorias">
    <part name="parameters" element="tns:Listado_categorias" />
  </message>
  <message name="Listado_categoriasResponse">
    <part name="parameters" element="tns:Listado_categoriasResponse" />
  </message>
  <portType name="CategoriaService">
    <operation name="Modificar_categoria">
      <input wsam:Action="http://Servicios/CategoriaService/Modificar_categoriaRequest" message="tns:Modificar_categoria" />
      <output wsam:Action="http://Servicios/CategoriaService/Modificar_categoriaResponse" message="tns:Modificar_categoriaResponse" />
    </operation>
    <operation name="Eliminar_categoria">
      <input wsam:Action="http://Servicios/CategoriaService/Eliminar_categoriaRequest" message="tns:Eliminar_categoria" />
      <output wsam:Action="http://Servicios/CategoriaService/Eliminar_categoriaResponse" message="tns:Eliminar_categoriaResponse" />
    </operation>
    <operation name="Crear_categoria">
      <input wsam:Action="http://Servicios/CategoriaService/Crear_categoriaRequest" message="tns:Crear_categoria" />
      <output wsam:Action="http://Servicios/CategoriaService/Crear_categoriaResponse" message="tns:Crear_categoriaResponse" />
    </operation>
    <operation name="Listado_categorias">
      <input wsam:Action="http://Servicios/CategoriaService/Listado_categoriasRequest" message="tns:Listado_categorias" />
      <output wsam:Action="http://Servicios/CategoriaService/Listado_categoriasResponse" message="tns:Listado_categoriasResponse" />
    </operation>
  </portType>
  <binding name="CategoriaServicePortBinding" type="tns:CategoriaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Modificar_categoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_categoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_categoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_categorias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CategoriaService">
    <port name="CategoriaServicePort" binding="tns:CategoriaServicePortBinding">
      <soap:address location="http://10.15.226.82:17225/MisOfertasWebService/CategoriaService" />
    </port>
  </service>
</definitions>