Service References/Service_Categoria/CategoriaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crear_categoria" type="tns:Crear_categoria" />
  <xs:element name="Crear_categoriaResponse" type="tns:Crear_categoriaResponse" />
  <xs:element name="Eliminar_categoria" type="tns:Eliminar_categoria" />
  <xs:element name="Eliminar_categoriaResponse" type="tns:Eliminar_categoriaResponse" />
  <xs:element name="Listado_categorias" type="tns:Listado_categorias" />
  <xs:element name="Listado_categoriasResponse" type="tns:Listado_categoriasResponse" />
  <xs:element name="Modificar_categoria" type="tns:Modificar_categoria" />
  <xs:element name="Modificar_categoriaResponse" type="tns:Modificar_categoriaResponse" />
  <xs:element name="categoria" type="tns:categoria" />
  <xs:complexType name="Modificar_categoria">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="desc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_categoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Listado_categorias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_categoriasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idCategoria" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_categoria">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="desc" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_categoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_categoria">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_categoriaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>