Service References/Service_Puntos/PuntosService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PuntosService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:17225/MisOfertasWebService/PuntosService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Modificar_puntos">
    <part name="parameters" element="tns:Modificar_puntos" />
  </message>
  <message name="Modificar_puntosResponse">
    <part name="parameters" element="tns:Modificar_puntosResponse" />
  </message>
  <message name="Listado_puntos">
    <part name="parameters" element="tns:Listado_puntos" />
  </message>
  <message name="Listado_puntosResponse">
    <part name="parameters" element="tns:Listado_puntosResponse" />
  </message>
  <message name="Crear_puntos">
    <part name="parameters" element="tns:Crear_puntos" />
  </message>
  <message name="Crear_puntosResponse">
    <part name="parameters" element="tns:Crear_puntosResponse" />
  </message>
  <message name="Eliminar_puntos">
    <part name="parameters" element="tns:Eliminar_puntos" />
  </message>
  <message name="Eliminar_puntosResponse">
    <part name="parameters" element="tns:Eliminar_puntosResponse" />
  </message>
  <portType name="PuntosService">
    <operation name="Modificar_puntos">
      <input wsam:Action="http://Servicios/PuntosService/Modificar_puntosRequest" message="tns:Modificar_puntos" />
      <output wsam:Action="http://Servicios/PuntosService/Modificar_puntosResponse" message="tns:Modificar_puntosResponse" />
    </operation>
    <operation name="Listado_puntos">
      <input wsam:Action="http://Servicios/PuntosService/Listado_puntosRequest" message="tns:Listado_puntos" />
      <output wsam:Action="http://Servicios/PuntosService/Listado_puntosResponse" message="tns:Listado_puntosResponse" />
    </operation>
    <operation name="Crear_puntos">
      <input wsam:Action="http://Servicios/PuntosService/Crear_puntosRequest" message="tns:Crear_puntos" />
      <output wsam:Action="http://Servicios/PuntosService/Crear_puntosResponse" message="tns:Crear_puntosResponse" />
    </operation>
    <operation name="Eliminar_puntos">
      <input wsam:Action="http://Servicios/PuntosService/Eliminar_puntosRequest" message="tns:Eliminar_puntos" />
      <output wsam:Action="http://Servicios/PuntosService/Eliminar_puntosResponse" message="tns:Eliminar_puntosResponse" />
    </operation>
  </portType>
  <binding name="PuntosServicePortBinding" type="tns:PuntosService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Modificar_puntos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_puntos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_puntos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_puntos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PuntosService">
    <port name="PuntosServicePort" binding="tns:PuntosServicePortBinding">
      <soap:address location="http://localhost:17225/MisOfertasWebService/PuntosService" />
    </port>
  </service>
</definitions>