Service References/Service_Producto/ProductoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ProductoService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:17225/MisOfertasWebService/ProductoService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Modificar_producto">
    <part name="parameters" element="tns:Modificar_producto" />
  </message>
  <message name="Modificar_productoResponse">
    <part name="parameters" element="tns:Modificar_productoResponse" />
  </message>
  <message name="Eliminar_producto">
    <part name="parameters" element="tns:Eliminar_producto" />
  </message>
  <message name="Eliminar_productoResponse">
    <part name="parameters" element="tns:Eliminar_productoResponse" />
  </message>
  <message name="Listado_productos">
    <part name="parameters" element="tns:Listado_productos" />
  </message>
  <message name="Listado_productosResponse">
    <part name="parameters" element="tns:Listado_productosResponse" />
  </message>
  <message name="Crear_producto">
    <part name="parameters" element="tns:Crear_producto" />
  </message>
  <message name="Crear_productoResponse">
    <part name="parameters" element="tns:Crear_productoResponse" />
  </message>
  <portType name="ProductoService">
    <operation name="Modificar_producto">
      <input wsam:Action="http://Servicios/ProductoService/Modificar_productoRequest" message="tns:Modificar_producto" />
      <output wsam:Action="http://Servicios/ProductoService/Modificar_productoResponse" message="tns:Modificar_productoResponse" />
    </operation>
    <operation name="Eliminar_producto">
      <input wsam:Action="http://Servicios/ProductoService/Eliminar_productoRequest" message="tns:Eliminar_producto" />
      <output wsam:Action="http://Servicios/ProductoService/Eliminar_productoResponse" message="tns:Eliminar_productoResponse" />
    </operation>
    <operation name="Listado_productos">
      <input wsam:Action="http://Servicios/ProductoService/Listado_productosRequest" message="tns:Listado_productos" />
      <output wsam:Action="http://Servicios/ProductoService/Listado_productosResponse" message="tns:Listado_productosResponse" />
    </operation>
    <operation name="Crear_producto">
      <input wsam:Action="http://Servicios/ProductoService/Crear_productoRequest" message="tns:Crear_producto" />
      <output wsam:Action="http://Servicios/ProductoService/Crear_productoResponse" message="tns:Crear_productoResponse" />
    </operation>
  </portType>
  <binding name="ProductoServicePortBinding" type="tns:ProductoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Modificar_producto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_producto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_productos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_producto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoService">
    <port name="ProductoServicePort" binding="tns:ProductoServicePortBinding">
      <soap:address location="http://localhost:17225/MisOfertasWebService/ProductoService" />
    </port>
  </service>
</definitions>