Service References/Service_Usuario/UsuarioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Autenticacion" type="tns:Autenticacion" />
  <xs:element name="AutenticacionResponse" type="tns:AutenticacionResponse" />
  <xs:element name="AutenticarTrabajador" type="tns:AutenticarTrabajador" />
  <xs:element name="AutenticarTrabajadorResponse" type="tns:AutenticarTrabajadorResponse" />
  <xs:element name="CREAR_USUARIO" type="tns:CREAR_USUARIO" />
  <xs:element name="CREAR_USUARIOResponse" type="tns:CREAR_USUARIOResponse" />
  <xs:element name="Eliminar_usuario" type="tns:Eliminar_usuario" />
  <xs:element name="Eliminar_usuarioResponse" type="tns:Eliminar_usuarioResponse" />
  <xs:element name="Listado_usuarios" type="tns:Listado_usuarios" />
  <xs:element name="Listado_usuariosResponse" type="tns:Listado_usuariosResponse" />
  <xs:element name="Modificar_USUARIO" type="tns:Modificar_USUARIO" />
  <xs:element name="Modificar_USUARIOResponse" type="tns:Modificar_USUARIOResponse" />
  <xs:element name="cargo" type="tns:cargo" />
  <xs:element name="estado" type="tns:estado" />
  <xs:element name="persona" type="tns:persona" />
  <xs:element name="sexo" type="tns:sexo" />
  <xs:element name="usuario" type="tns:usuario" />
  <xs:complexType name="Listado_usuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_usuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cargoIdcargo" type="tns:cargo" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="fechacreado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:decimal" />
      <xs:element minOccurs="0" name="personaIdpersona" type="tns:persona" />
      <xs:element minOccurs="0" name="telefono" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cargo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idcargo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="idpersona" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="sexoIdSexo" type="tns:sexo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sexo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idSexo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_usuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_usuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutenticarTrabajador">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutenticarTrabajadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CREAR_USUARIO">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_actualizacion" type="xs:dateTime" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element name="id_cargo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CREAR_USUARIOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Autenticacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutenticacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_USUARIO">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_actualizacion" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Modificar_USUARIOResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>