Service References/Service_Usuario/UsuarioService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UsuarioService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.15.226.82:17225/MisOfertasWebService/UsuarioService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="CREAR_USUARIO">
    <part name="parameters" element="tns:CREAR_USUARIO" />
  </message>
  <message name="CREAR_USUARIOResponse">
    <part name="parameters" element="tns:CREAR_USUARIOResponse" />
  </message>
  <message name="Modificar_USUARIO">
    <part name="parameters" element="tns:Modificar_USUARIO" />
  </message>
  <message name="Modificar_USUARIOResponse">
    <part name="parameters" element="tns:Modificar_USUARIOResponse" />
  </message>
  <message name="Autenticacion">
    <part name="parameters" element="tns:Autenticacion" />
  </message>
  <message name="AutenticacionResponse">
    <part name="parameters" element="tns:AutenticacionResponse" />
  </message>
  <message name="Listado_usuarios">
    <part name="parameters" element="tns:Listado_usuarios" />
  </message>
  <message name="Listado_usuariosResponse">
    <part name="parameters" element="tns:Listado_usuariosResponse" />
  </message>
  <message name="Eliminar_usuario">
    <part name="parameters" element="tns:Eliminar_usuario" />
  </message>
  <message name="Eliminar_usuarioResponse">
    <part name="parameters" element="tns:Eliminar_usuarioResponse" />
  </message>
  <portType name="UsuarioService">
    <operation name="CREAR_USUARIO">
      <input wsam:Action="http://Servicios/UsuarioService/CREAR_USUARIORequest" message="tns:CREAR_USUARIO" />
      <output wsam:Action="http://Servicios/UsuarioService/CREAR_USUARIOResponse" message="tns:CREAR_USUARIOResponse" />
    </operation>
    <operation name="Modificar_USUARIO">
      <input wsam:Action="http://Servicios/UsuarioService/Modificar_USUARIORequest" message="tns:Modificar_USUARIO" />
      <output wsam:Action="http://Servicios/UsuarioService/Modificar_USUARIOResponse" message="tns:Modificar_USUARIOResponse" />
    </operation>
    <operation name="Autenticacion">
      <input wsam:Action="http://Servicios/UsuarioService/AutenticacionRequest" message="tns:Autenticacion" />
      <output wsam:Action="http://Servicios/UsuarioService/AutenticacionResponse" message="tns:AutenticacionResponse" />
    </operation>
    <operation name="Listado_usuarios">
      <input wsam:Action="http://Servicios/UsuarioService/Listado_usuariosRequest" message="tns:Listado_usuarios" />
      <output wsam:Action="http://Servicios/UsuarioService/Listado_usuariosResponse" message="tns:Listado_usuariosResponse" />
    </operation>
    <operation name="Eliminar_usuario">
      <input wsam:Action="http://Servicios/UsuarioService/Eliminar_usuarioRequest" message="tns:Eliminar_usuario" />
      <output wsam:Action="http://Servicios/UsuarioService/Eliminar_usuarioResponse" message="tns:Eliminar_usuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioServicePortBinding" type="tns:UsuarioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CREAR_USUARIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Modificar_USUARIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Autenticacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_usuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_usuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioService">
    <port name="UsuarioServicePort" binding="tns:UsuarioServicePortBinding">
      <soap:address location="http://10.15.226.82:17225/MisOfertasWebService/UsuarioService" />
    </port>
  </service>
</definitions>