Service References/Service_OfertaVista/OfertaVisitaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Crear_oferta_visitas" type="tns:Crear_oferta_visitas" />
  <xs:element name="Crear_oferta_visitasResponse" type="tns:Crear_oferta_visitasResponse" />
  <xs:element name="Eliminar_oferta_visitas" type="tns:Eliminar_oferta_visitas" />
  <xs:element name="Eliminar_oferta_visitasResponse" type="tns:Eliminar_oferta_visitasResponse" />
  <xs:element name="Listado_oferta_visitas" type="tns:Listado_oferta_visitas" />
  <xs:element name="Listado_oferta_visitasResponse" type="tns:Listado_oferta_visitasResponse" />
  <xs:element name="ciudad" type="tns:ciudad" />
  <xs:element name="cliente" type="tns:cliente" />
  <xs:element name="estado" type="tns:estado" />
  <xs:element name="oferta" type="tns:oferta" />
  <xs:element name="ofertavisi" type="tns:ofertavisi" />
  <xs:element name="persona" type="tns:persona" />
  <xs:element name="region" type="tns:region" />
  <xs:element name="sexo" type="tns:sexo" />
  <xs:complexType name="Listado_oferta_visitas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Listado_oferta_visitasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ofertavisi" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ofertavisi">
    <xs:sequence>
      <xs:element minOccurs="0" name="clienteIdCliente" type="tns:cliente" />
      <xs:element minOccurs="0" name="fechaVisita" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idofertav" type="xs:decimal" />
      <xs:element minOccurs="0" name="ofertaIdOferta" type="tns:oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="aceptaInformativo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ciudadIdCiudad" type="tns:ciudad" />
      <xs:element minOccurs="0" name="contrasena" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idCliente" type="xs:decimal" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="personaIdpersona" type="tns:persona" />
      <xs:element minOccurs="0" name="telefono" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ciudad">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idCiudad" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="regionIdRegion" type="tns:region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element minOccurs="0" name="idRegion" type="xs:long" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estado">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="idpersona" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rut" type="xs:string" />
      <xs:element minOccurs="0" name="sexoIdSexo" type="tns:sexo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sexo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idSexo" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualizacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="estadoIdEstado" type="tns:estado" />
      <xs:element minOccurs="0" name="idOferta" type="xs:decimal" />
      <xs:element minOccurs="0" name="inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="maximoCompra" type="xs:integer" />
      <xs:element minOccurs="0" name="minimoCompra" type="xs:integer" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="numeroVisitas" type="xs:integer" />
      <xs:element minOccurs="0" name="precioNormal" type="xs:integer" />
      <xs:element minOccurs="0" name="precioOferta" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_oferta_visitas">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Eliminar_oferta_visitasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_oferta_visitas">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_vista" type="xs:dateTime" />
      <xs:element name="id_cliente" type="xs:int" />
      <xs:element name="id_oferta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Crear_oferta_visitasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>