Service References/Service_OfertaVista/OfertaVisitaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="OfertaVisitaService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:17225/MisOfertasWebService/OfertaVisitaService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Listado_oferta_visitas">
    <part name="parameters" element="tns:Listado_oferta_visitas" />
  </message>
  <message name="Listado_oferta_visitasResponse">
    <part name="parameters" element="tns:Listado_oferta_visitasResponse" />
  </message>
  <message name="Eliminar_oferta_visitas">
    <part name="parameters" element="tns:Eliminar_oferta_visitas" />
  </message>
  <message name="Eliminar_oferta_visitasResponse">
    <part name="parameters" element="tns:Eliminar_oferta_visitasResponse" />
  </message>
  <message name="Crear_oferta_visitas">
    <part name="parameters" element="tns:Crear_oferta_visitas" />
  </message>
  <message name="Crear_oferta_visitasResponse">
    <part name="parameters" element="tns:Crear_oferta_visitasResponse" />
  </message>
  <portType name="OfertaVistaService">
    <operation name="Listado_oferta_visitas">
      <input wsam:Action="http://Servicios/OfertaVistaService/Listado_oferta_visitasRequest" message="tns:Listado_oferta_visitas" />
      <output wsam:Action="http://Servicios/OfertaVistaService/Listado_oferta_visitasResponse" message="tns:Listado_oferta_visitasResponse" />
    </operation>
    <operation name="Eliminar_oferta_visitas">
      <input wsam:Action="http://Servicios/OfertaVistaService/Eliminar_oferta_visitasRequest" message="tns:Eliminar_oferta_visitas" />
      <output wsam:Action="http://Servicios/OfertaVistaService/Eliminar_oferta_visitasResponse" message="tns:Eliminar_oferta_visitasResponse" />
    </operation>
    <operation name="Crear_oferta_visitas">
      <input wsam:Action="http://Servicios/OfertaVistaService/Crear_oferta_visitasRequest" message="tns:Crear_oferta_visitas" />
      <output wsam:Action="http://Servicios/OfertaVistaService/Crear_oferta_visitasResponse" message="tns:Crear_oferta_visitasResponse" />
    </operation>
  </portType>
  <binding name="OfertaVistaServicePortBinding" type="tns:OfertaVistaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Listado_oferta_visitas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_oferta_visitas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_oferta_visitas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OfertaVisitaService">
    <port name="OfertaVistaServicePort" binding="tns:OfertaVistaServicePortBinding">
      <soap:address location="http://localhost:17225/MisOfertasWebService/OfertaVisitaService" />
    </port>
  </service>
</definitions>