Service References/Service_DetalleOferta/DetalleOfertaService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="DetalleOfertaService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.20.65.11:8080/MisOfertasWebService/DetalleOfertaService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Crear_detalle_oferta">
    <part name="parameters" element="tns:Crear_detalle_oferta" />
  </message>
  <message name="Crear_detalle_ofertaResponse">
    <part name="parameters" element="tns:Crear_detalle_ofertaResponse" />
  </message>
  <message name="Listado_detalle_oferta">
    <part name="parameters" element="tns:Listado_detalle_oferta" />
  </message>
  <message name="Listado_detalle_ofertaResponse">
    <part name="parameters" element="tns:Listado_detalle_ofertaResponse" />
  </message>
  <message name="Eliminar_detalle_oferta">
    <part name="parameters" element="tns:Eliminar_detalle_oferta" />
  </message>
  <message name="Eliminar_detalle_ofertaResponse">
    <part name="parameters" element="tns:Eliminar_detalle_ofertaResponse" />
  </message>
  <portType name="DetalleOfertaService">
    <operation name="Crear_detalle_oferta">
      <input wsam:Action="http://Servicios/DetalleOfertaService/Crear_detalle_ofertaRequest" message="tns:Crear_detalle_oferta" />
      <output wsam:Action="http://Servicios/DetalleOfertaService/Crear_detalle_ofertaResponse" message="tns:Crear_detalle_ofertaResponse" />
    </operation>
    <operation name="Listado_detalle_oferta">
      <input wsam:Action="http://Servicios/DetalleOfertaService/Listado_detalle_ofertaRequest" message="tns:Listado_detalle_oferta" />
      <output wsam:Action="http://Servicios/DetalleOfertaService/Listado_detalle_ofertaResponse" message="tns:Listado_detalle_ofertaResponse" />
    </operation>
    <operation name="Eliminar_detalle_oferta">
      <input wsam:Action="http://Servicios/DetalleOfertaService/Eliminar_detalle_ofertaRequest" message="tns:Eliminar_detalle_oferta" />
      <output wsam:Action="http://Servicios/DetalleOfertaService/Eliminar_detalle_ofertaResponse" message="tns:Eliminar_detalle_ofertaResponse" />
    </operation>
  </portType>
  <binding name="DetalleOfertaServicePortBinding" type="tns:DetalleOfertaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Crear_detalle_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Listado_detalle_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_detalle_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DetalleOfertaService">
    <port name="DetalleOfertaServicePort" binding="tns:DetalleOfertaServicePortBinding">
      <soap:address location="http://10.20.65.11:8080/MisOfertasWebService/DetalleOfertaService" />
    </port>
  </service>
</definitions>