Service References/Service_UsuarioOferta/UsuarioOfertaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UsuarioOfertaService" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:17225/MisOfertasWebService/UsuarioOfertaService?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="Listado_usuario_oferta">
    <part name="parameters" element="tns:Listado_usuario_oferta" />
  </message>
  <message name="Listado_usuario_ofertaResponse">
    <part name="parameters" element="tns:Listado_usuario_ofertaResponse" />
  </message>
  <message name="Eliminar_usuario_oferta">
    <part name="parameters" element="tns:Eliminar_usuario_oferta" />
  </message>
  <message name="Eliminar_usuario_ofertaResponse">
    <part name="parameters" element="tns:Eliminar_usuario_ofertaResponse" />
  </message>
  <message name="Crear_usuario_oferta">
    <part name="parameters" element="tns:Crear_usuario_oferta" />
  </message>
  <message name="Crear_usuario_ofertaResponse">
    <part name="parameters" element="tns:Crear_usuario_ofertaResponse" />
  </message>
  <portType name="UsuarioOfertaService">
    <operation name="Listado_usuario_oferta">
      <input wsam:Action="http://Servicios/UsuarioOfertaService/Listado_usuario_ofertaRequest" message="tns:Listado_usuario_oferta" />
      <output wsam:Action="http://Servicios/UsuarioOfertaService/Listado_usuario_ofertaResponse" message="tns:Listado_usuario_ofertaResponse" />
    </operation>
    <operation name="Eliminar_usuario_oferta">
      <input wsam:Action="http://Servicios/UsuarioOfertaService/Eliminar_usuario_ofertaRequest" message="tns:Eliminar_usuario_oferta" />
      <output wsam:Action="http://Servicios/UsuarioOfertaService/Eliminar_usuario_ofertaResponse" message="tns:Eliminar_usuario_ofertaResponse" />
    </operation>
    <operation name="Crear_usuario_oferta">
      <input wsam:Action="http://Servicios/UsuarioOfertaService/Crear_usuario_ofertaRequest" message="tns:Crear_usuario_oferta" />
      <output wsam:Action="http://Servicios/UsuarioOfertaService/Crear_usuario_ofertaResponse" message="tns:Crear_usuario_ofertaResponse" />
    </operation>
  </portType>
  <binding name="UsuarioOfertaServicePortBinding" type="tns:UsuarioOfertaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Listado_usuario_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Eliminar_usuario_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Crear_usuario_oferta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioOfertaService">
    <port name="UsuarioOfertaServicePort" binding="tns:UsuarioOfertaServicePortBinding">
      <soap:address location="http://localhost:17225/MisOfertasWebService/UsuarioOfertaService" />
    </port>
  </service>
</definitions>